:root {
  --primary-color: #c72727;
  --secondary-color: blueviolet;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Staatliches", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.3;
}

p {
  margin: 0.5rem 0;
}

/* Utility */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-tech {
  background: var(--secondary-color);
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background: var(--light-color);
}
.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: var(--secondary-color);
  display: block;
  margin: 0 auto 1rem auto;
}

/* Navigation */
#main-nav {
  background: var(--dark-color);
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 1rem;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 4fr 4fr 2fr;
  align-items: center;
}

#main-nav .logo {
  width: 100px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  color: #fff;
}

#main-nav ul li a.current {
  background: var(--primary-color);
  color: #fff;
}

#main-nav ul li a:hover {
  background: var(--dark-color);
  color: var(--light-color);
}

#main-nav .social i {
  color: #fff;
  margin-right: 0.5rem;
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase:before {
  content: "";
  background: url("../img/featured.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

#showcase .showcase-content a:active {
  transform: translateY(-3px);
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background-color: var(--primary-color);
  overflow: hidden;
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
    transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

/* Footer */
#main-footer {
  background: var(--dark-color);
  color: #fff;
  margin-top: 3rem;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:first-child img {
  width: 80px;
}

#main-footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}
